name: Main Build


on: 
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: 
      contents: read
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.22'
          cache: true
      - name: Build
        env:
          BUILD_NUMBER: ${{ github.run_number }}
        run: go build -o ./build/nis-pipo-${{ github.run_number }} ./cmd/app
      - uses: actions/upload-artifact@v4
        with:
          name: Build binary ${{ github.run_number }}
          path: ./build/nis-pipo-${{ github.run_number }}